/* 公用布局 */

.flex-common {
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

/*底部固定*/
.drawer-footer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    z-index: 9;
}
/*单选按钮*/
.radio-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.radio-group .radio-group-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-group .radio-group-item .radio-group-item-round {
    transform:scale(0.7);
}
.radio-group .radio-group-item .radio-group-item-text {
    font-size: 16rpx;
}

/*多选按钮*/
.check-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.check-box {
    margin-right: 10rpx;
}

/* 文字图标 */

.ban-red, .ke-orange, .ren-green, .wu-gran {
    color: #ffffff;
    font-size: 24rpx;
    width: 30rpx;
    height: 30rpx;
    line-height: 30rpx;
    padding: 8rpx;
    border-radius: 5rpx;
    margin-right: 10rpx;
    text-align: center;
}

.ban-red {
    background: #F4313E;
}
.ke-orange {
    background: #FE8530;
}
.ren-green {
    background: #52CDC0;
}

.wu-gran {
    background: #00B7EE;
}

/* 小方块 */
.small-block-orange {
    width: 21rpx;
    height: 21rpx;
    background: #FF9547;
    border-radius: 5rpx;
    margin-right: 10rpx;
}
.small-block-gray {
    width: 21rpx;
    height: 21rpx;
    background: #FF9547;
    border-radius: 5rpx;
    margin-right: 10rpx;
}


/* 底部按钮 */

.add-btn {
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background-color: #F4313E;
    color: #fff;
    font-family: Source Han Sans CN;
    font-weight: 400;
    border: none;
    border-radius: 0;
}

/* 通过 */
.adopt {
    width: 150rpx;
    height: 150rpx;
    line-height: 150rpx;
    margin-bottom: 50rpx;
    text-align: center;
    border-radius: 50%;
    font-weight: bold;
    color: #F4313E;
    border: 4px solid #F4313E;
}

.text-type {
    border: 1px solid #F4313E;
    border-radius: 5rpx;
    color: #F4313E;
}
.white-text {
    border: 1px solid #DDDDDD;
    border-radius: 10rpx;
    padding: 10rpx;
    color: #DDDDDD;;
}
.orange-text {
    border: 1px solid #FE8530;
    border-radius: 10rpx;
    padding: 10rpx;
    color: #FE8530;
}

/*方块元素*/
.red-block, .orange-block, .cyan-block {
    width: 24rpx;
    height: 24rpx;
    margin-right: 10rpx;
    border-radius: 5rpx;
}
.red-block {
    background: #F4313E;
}
.orange-block {
    background: #FE8530;
}
.cyan-block {
    background: #52CDC0;
}


.footer-class {
    width: 100%;
    height: 84rpx;
    background: #FFE4E6;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*重置checkbox*/
uni-checkbox .uni-checkbox-input.uni-checkbox-input-checked{
  color: $uni-color-base!important;
  border: 1px solid $uni-color-base;
}
  
uni-radio::before, uni-checkbox::before{
  display: none;
}
.input-placeholder{
  color:#bbb;
}